<tr>
	<% family_comment = [@family, comment] %>

	<%= simple_form_for(family_comment, html: {class: "form-horizontal"}) do |form| %>
	<td><%= best_in_place family_comment, :value, nil: "Comment" %></td>
	<td><%= link_to "Delete Comment", family_comment, confirm: 'Are you sure?', method: :delete %>
	</td>
	<% end %>
</tr>
